.gradient-background {
    background: linear-gradient(300deg,#ffffff,#ccdbd0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  .module{
    background-image: url("./images/Module\ adventures.jpg");
  }
  .test{
    font-weight: 500;
  }